<%= form_for @order_details do |f| %>
	<div>
		<%= f.label 			"Số lượng:" %>
		<%= f.text_field 	:qty, class: "form-control", required: true,
			value: "1" 
		%>
	</div>
	<div>
		<%= f.submit "CHỌN MUA",
			method: "post", class: "btn btn-primary" 
		%>
	</div>
<% end %>