<div id="qtySelector" class="quantity-col1">
	<p>Số lượng:</p>
	<p>
		<div class="input-group bootstrap-touchspin">
			<span style="display: none">
			</span>
			<input id="qty" type="tel" name="qty" value="1"
				min="1" max="100" class="form-control" style="display: block;">
		</div>
	</p>
</div>
<button id="#mainAddToCart" class="add-to-cart  js-add-to-cart is-css" 
	type="button" >
	<span class="text">CHỌN MUA</span>
</button>